a.has-text-white:hover {
  background-color: gray;
}
#aside-nav{
  position: sticky;
  top:0px;
  display:block;
  height:100vh;

}
#navbar{
  position:sticky;
  top:0;
}
#stop-overflow{
  background-color: white;
}
.columns.is-multiline.is-centered{
  padding-top:20px;
}
section{
  margin:020px;
}
#id-card{
  padding-top:50px;
}
html{
  margin:0px;
  scroll-behavior: smooth;
}
.card {
  background-color: rgb(150, 150, 150);
  color:white;
}
.content h2{
  color:white;
}
#inner-cards .card{
  background-color: white;
  color:#4a4a4a ;
}